{% extends 'blog/base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="#">Login</a></li>
{% endblock %}

{% block content %}
{% if form.errors %}
<!-- Form Errors -->
<div class="row form-errors justify-content-md-center">
  <div class="alert alert-danger col-8">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Dang!</strong> Incorrect username or password. Please retry!
  </div>
</div><!-- /.form-errors -->
{% endif %}

<!-- Login Form -->
<div class="row justify-content-md-center">
  <div class="col-8">
    <form class="form-horizontal" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="username" class="hidden-xs">
          Username
        </label>
        <input type="text" class="form-control text-center" id="username" name="username" placeholder="Your username">
      </div>
      <div class="form-group">
        <label for="password" class="hidden-xs">
          Password
        </label>
        <input type="password" class="form-control text-center" id="password" name="password" placeholder="Your password (Shhhh! Let's keep it a secret!)">
      </div>
      <button type="submit" class="btn btn-primary">
        {% if form.errors %}ReTRY{% else %}OK{% endif %}
      </button>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</div>
{% endblock %}